@page
@model IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}
<div class="row">
    <div class="col-md-12 mainheader">
        <div class="col-md-3">
            <a href="/StudentSection" class="btn btn-info">لیست دانش‌آموزان</a>
        </div>
        <div class="col-md-3">
            <a href="/ClassroomSection" class="btn btn-info">لیست کلاس‌ها</a>
        </div>
        <div class="col-md-3">
            <a href="/DisciplineSection" class="btn btn-info">ثبت موارد انظباطی</a>
        </div>
        <div class="col-md-3">
            <a href="/DisciplineCategorySection" class="btn btn-info">دسته بندی موارد انظباطی</a>
        </div>
    </div>

</div>