@page
@model DisciplinaryCase.Pages.ClassroomSection.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>لیست کلاس ها</h1>
<br />
<br />
     <button asp-page="Create" type="button" class="btn btn-warning">ایجاد کلاس</button>
<br />

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                کلاس
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Classroom) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">ویرایش</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">اطاعات</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
