@page
@model DisciplinaryCase.Pages.DisciplineCategorySection.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>دسته بندی مورد انظباطی</h1>
<br />

     <button asp-page="Create" type="button" class="btn btn-warning">اضافه کردن مورد انظباطی</button>

<br />
<br />
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                اسم مورد انظباطی
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DisciplineCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">ویرایش</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">اطلاعات</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
